<!--<div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">codigo   
    </div>
        <ul class="mdl-mini-footer__link-list">
      <li><a href="#">Acerca</a></li>
      <li><a href="#">Términos y Privacidad</a></li>
    </ul> 
  </div>
</div>-->

<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer__middle-section">

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Social</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">github</a></li>
        <li><a href="#">twitter</a></li>
        <li><a href="#">google</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Categorias</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">android</a></li>
      </ul>
    </div>

    <div class="mdl-mega-footer__drop-down-section">
      <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
      <h1 class="mdl-mega-footer__heading">Idioma</h1>
      <ul class="mdl-mega-footer__link-list">
        <li><a href="#">Español</a></li>
        <li><a href="#">English</a></li>
      </ul>
    </div>

  </div>

  <div class="mdl-mega-footer__bottom-section">
    <div class="mdl-logo">codigo</div>
    <ul class="mdl-mega-footer__link-list">
      <li><a href="/about/">Acerca</a></li>
      <li><a href="#">Términos y Privacidad</a></li>
    </ul>
  </div>

</footer>