<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">codigo</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="#">ayuda</a></li>
      <li><a href="#">Términos y Privacidad</a></li>
      <li><a href="#"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</footer>